body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


ol#output {
    padding: 20px 10px 20px 25px;
    border: 1px solid #888;
    border-radius: 4px;
}

ol li {
    margin: 10px;
    background-color: white;
}

li>div {
    display: flex;
    justify-content: space-between;
}

li>div * {
    margin-left: 10;
    margin-right: 10;
}

.score {
    padding: 3px;
    background-color: #fee;
}

.species {
    border-radius: 3px;
    padding: 2px;
    border: 1px solid #ddd;
    background-color: #eee;
    align-self: end;
}